.footer {
    background-color: #000000;
    color: #FFFFFF;
    padding-bottom: 8px;
}

.newsletter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 64px;
}

.newsletter-text {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-button {
    background-color: #FFFFFF;
    color: #000000;
}

.footer-button:hover {
    background-color: #D0D0D0;
}

.footer-links-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 16px;
    margin-bottom: 64px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 32px;
}

.footer-title {
    font-weight: 300;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
}

.sub-footer-container,
.copyright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-container {
    margin: 0;
    padding-bottom: 32px;
}

.legal-links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.social-media-links {
    display: flex;
    gap: 16px;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
}

.disclaimer {
    font-size: 12px;
    opacity: 0.7;
    color: #FFFFFF;
    padding-bottom: 16px;
}

@media screen and (max-width: 1150px) {
    .footer-links-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-links {
        margin-bottom: 32px;
        gap: 16px;
    }

    .links {
        gap: 8px;
    }
}

@media screen and (max-width: 930px) {
    .sub-footer-container {
        flex-direction: column;
        gap: 24px;
        align-items: start;
    }
}

@media screen and (max-width: 800px) {
    .newsletter-container {
        flex-direction: column;
        align-items: start;
        padding-top: 24px;
        padding-bottom: 32px;
        gap: 16px;
    }

    .newsletter-text {
        gap: 8px;
    }
}

@media screen and (max-width: 500px) {
    .footer-links-wrapper {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 16px;
    }

    .copyright-container {
        padding-bottom: 16px;
    }
}