.hero {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, .8) 0, 
    rgba(0, 0, 0, .8) 8.1%, rgba(0, 0, 0, .8) 15.5%, 
    rgba(0, 0, 0, .8) 22.5%, rgba(0, 0, 0, .78) 29%, 
    rgba(0, 0, 0, .73) 35.3%, rgba(0, 0, 0, .67) 41.2%, 
    rgba(0, 0, 0, .6) 47.1%, rgba(0, 0, 0, .52) 52.9%, 
    rgba(0, 0, 0, .44) 58.8%, rgba(0, 0, 0, .33) 64.7%, 
    rgba(0, 0, 0, .22) 71%, rgba(0, 0, 0, .12) 77.5%, 
    rgba(0, 0, 0, .05) 84.5%, rgba(0, 0, 0, .011) 91.9%, transparent);
    height: 15%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: clamp(24px, 4vw, 56px);
    max-width: 1276px;
    width: 100%;
    justify-content: center;
}

.hero-headline {
    position: relative;
    color: #FFFFFF;
    font-size: clamp(40px, 10vw, 134px);
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-inline: 32px;
    bottom: 20%;
    letter-spacing: -0.02em;
    line-height: 120%;
    mix-blend-mode: difference;
}

.hero-cta-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.hero-cta {
    display: flex;
    max-width: 1212px;
    width: 100%;
    align-items: center;
    gap: clamp(8px, 3vw, 16px);
    margin: 10px 32px 0px 32px;
}

.hero-subheadline {
    white-space: nowrap;
    position: relative;
    color: #FFFFFF;
    font-size: clamp(12px, 3vw, 24px);
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding: 0;
    max-width: 232px;
    letter-spacing: -0.01em;
}

.hero-line {
    background-color: #FFFFFF;
    border: none;
    max-width: 824px;
    width: 100%;
    height: 2px;
}

.hero-button {
    display: flex;
    font-size: 20px;
    max-width: 122px;
    max-height: 49px;
    align-items: center;
    justify-content: center;
}

.models {
    padding-top: clamp(32px, 5vw, 72px);
    padding-bottom: clamp(32px, 5vw, 72px);
    color: #FFFFFF;
    background-color: #000000;
}

.model-headline {
    font-size: clamp(24px, 6vw, 64px);
    font-weight: 300;
    margin: 0 16px 0px clamp(16px, 4vw, 64px);
}

.model-subheadline {
    font-size: clamp(16px, 4vw, 20px);
    font-weight: 300;
    margin: 0 16px 56px clamp(16px, 4vw, 64px);
}

.static-opacity-links:hover {
    opacity: 1;
}

.carousel-wrapper {
    display: grid;
    gap: 32px;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    padding: 0 clamp(16px, 4vw, 64px) clamp(16px, 4vw, 40px);
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: clamp(16px, 4vw, 64px);
    scrollbar-width: none;
}

.carousel-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: clamp(0px, 6vw, 16px)
}

.carousel-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 24px;
    padding-inline: 32px;  
    gap: 16px;
    background-color: hsla(0, 0%, 100%, 0.2);
    border-radius: 50px;
}

.carousel-dot {
    height: 16px;
    width: 16px;
    background-color: hsla(0, 0%, 100%, 0.6);
    border-radius: 100%;
    transition: all 0.3s
}

.active {
    width: 32px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 100px;
}

.vehicles,
.configure {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.vehicle-text,
.configure-text {
    padding-right: 16px;
    padding-left: clamp(16px, 3vw, 88px);
    padding-top: clamp(16px, 3vw, 80px);
}

.full-width-title {
    font-size: clamp(24px, 5vw, 56px);
    letter-spacing: -0.01em;
    line-height: 110%;
    font-weight: 300;
    margin: 0;
}

.full-width-text {
    font-size: clamp(20px, 3vw, 24px);
    font-weight: 300;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 32px;
    max-width: 820px;
}

.button-container {
    display: flex;
    gap: 16px;
}

.offers {
    padding-top: clamp(32px, 5vw, 72px);
    padding-bottom: clamp(80px, 6vw, 180px);
    padding-inline: 32px;
    width: auto;
    transition: background-color 0.5s ease;
}

.offers:has(.offer-list > a:hover) {
    background-color: hsl(0, 0%, 0%);
}

.offers:has(.offer-list > a:hover) > h2 {
    color: #ffffff;
    transition: color 0.5s ease;
}

.offer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    height: 100%;
}

@media screen and (max-width: 1150px) {
    .offer-list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        max-height: none;
        height: auto;
    }

    .carousel-nav {
        padding-block: 16px;
        padding-inline: 24px;  
        gap: 12px;
        background-color: hsla(0, 0%, 100%, 0.2);
        border-radius: 50px;
    }

    .carousel-dot {
        height: 12px;
        width: 12px;
        background-color: hsla(0, 0%, 100%, 0.6);
        border-radius: 100%;
    }

    .active {
        width: 24px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 100px;
    }
}

@media screen and (max-width: 950px) {
    .offers {
        padding-inline: 16px;
    }
    
    .vehicles {
        background-position: 25% 50%;
    }

    .full-width-title {
        font-size: 24px;
    }

    .full-width-text {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 16px;
        max-width: 608px;
    }

    .hero-cta {
        margin: 10px 16px 0px 16px;
    }

    .hero-button {
        font-size: 12px;
    }

    .carousel-wrapper {
        grid-auto-columns: 100%;
        gap: 16px;
    }

    .model-subheadline {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 600px) {
    .carousel-nav {
        padding-block: 8px;
        padding-inline: 16px;  
        gap: 8px;
        background-color: hsla(0, 0%, 100%, 0.2);
        border-radius: 50px;
    }

    .carousel-dot {
        height: 8px;
        width: 8px;
        background-color: hsla(0, 0%, 100%, 0.6);
        border-radius: 100%;
    }

    .active {
        width: 16px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 100px;
    }
}

@media screen and (max-width: 500px) {
    .configure {
        background-position: 35% 50%;
        height: 754px;
    }

    .button-container {
        gap: 8px;
    }

    .vehicle-buttons {
        flex-direction: column;
        width: 151px;
        height: 40px;
    }
}
